html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div 

body {
    font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
    margin: 0;
}

.wrap{
    overflow: hidden
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-container{
  background-color: rgba(175, 173, 173, 0.4);
  box-shadow: 0px 9px 3px -3px rgba(240,240,240,1);
  height: 50px;
  width: 100%;
}

.header-left{
  float:left;
  height: 50px;
  width: 100px;
}

.header-left img{
  width: 120%;
  margin-left: 40px;
}

.logo{
    padding-top: 5px;
}

.header-right a{
  float: right;
  color: black;
  height: 50px;
  width: 100px;
  line-height: 50px;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
    padding-right:10px ;
}

.header-right a::after{
    position: absolute;
    bottom: 4px;
    left: 18px;
    width: 60%;
    height: 1px;
    background: #89dda9;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }
  
.header-right a:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
  }
  
.header_data{
    z-index:99;
}

  .header_data_content li{
    color: black;
}


.header_data_content{
    font-size: 14px;
    background-color: rgba(175, 173, 173, 0.4);
    color:black;
    padding:7px 0px 7px 5px;
    position: absolute;
    top:50px;
    right:235px;
    line-height: 30px;
}

.active1{
    display:block;
}

.footer{
    background-color: rgba(175, 173, 173, 0.4);
    height:60px;
    width: 100%;
}

.footer-text{
position: relative;
top:20px;
left:550px;
}

/*listmaster_top---------------------------------*/

.main-wrapper{
    padding:110px 0px;
}

.search-content{
    position: absolute;
    top:100px;
    right:480px;
}

#form2{
    position:relative;
    left:780px;
    bottom:30px;
    max-width:250px;	
    margin-bottom:20px;
    padding-top: 10px;
}

.sbox2{
    height:40px;
    width:400px;
    margin-left:0px; 
    position:absolute; 
    right:30px;
    top:22px; 
    border-radius:10px;
    border-color:#eee;
    outline:0;
    background-color:#eee;	
    }
    
.sbtn2{
    height:30px;
    position:absolute; 
    right:30px;
    top:30px;
    background:none;
    color:#666;
    border:none;
    font-size:20px;
    }
    
#sbtn5:hover{
    color:#7fbfff;
    }

.table-main{
    padding:30px 30px 70px 20px;
    height:400px;
    width:1400px;
    position: relative;
    top:20px;
    overflow: auto;
}

.fs-tr{
    font-size: 13px;
    background-color: rgba(175, 173, 173, 0.1);

}

.fs-th{
    width:200px;
    background-color: rgba(175, 173, 173, 0.5);
}

.fs-td{
    font-size: 12px;

}



.fs-edit{
    min-width:30px;
}

.fs-edit-1{
    background-color: rgba(255, 192, 203,0.7);
    height:30px;
    width: 50px;
    border-color: white;
    cursor: pointer;
}

.csvButton{
    position: absolute;
    top:710px;
    left:680px;
    border:1px solid ;
    border-radius: 20px;
    border-color: rgba(175, 173, 173, 0.4);
    padding:5px 20px 5px 20px;
    background-color: rgba(70, 182, 246,1);
    color: white;
    font-size: 17px;
    font-weight: 900; 
}

.csvButton:hover{
    background-color: rgba(70, 182, 246,0.6);
    transition: 0.5s;
}


/*liputData_top---------------------------------*/

.id-wrapper{
    padding: 80px;
}


.id-form {
    margin: 50px auto;
    width: 800px;
    height: 360px;
    border-radius: 20px;
    box-shadow: 0 0 2px #3e3e3e;
    padding: 30px;
    text-align: center;
}
 
.upload-area {
    margin: auto;
    width: 85%;
    height: 300px;
    position: relative;
    border: 1px dotted rgba(0, 0, 0, .4);
    border-radius: 20px;
    background-color: rgba(225, 225, 226, 0.5);
}
.upload-area i {
    position: absolute;
    font-size: 120px;
    opacity: .1;
    width: 100%;
    left: 0;
    top: 80px;
}
.upload-area p {
    width: 100%;
    position: absolute;
    top: 200px;
    opacity: .8;
}
 
#input-files {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
 
#submit-btn {
    font-weight: bold;
    margin-top: 20px;
    border-radius: 20px;
    width: 200px;
    height: 45px;
    background-color: rgba(144, 187, 251, 0.7);
    border: none;
    opacity: .6;
    cursor: pointer;
}
#submit-btn:hover {
    background-color: rgba(144, 187, 251, 1.0);
    transition: 0.5s;
}

/*detail_research.php---------------------------------------------------------------------------------*/

.dr_cg_list{
    display: none;
    position: relative;
 
}

.dr-main{
padding: 30px 0px 0px 0px;
}

.dr-main-wrapper{
    width:800px;
    padding-bottom: 50px;
    background-color: rgba(175, 173, 173, 0.3);
    margin:0 auto;
    margin-bottom: 30px;

}

.dr_cg_title{
    border-bottom:1px solid grey;
    padding:10px 0px 0px 20px;
    cursor: pointer;
    width:130px;
  }
      
  .dr_cg_ul li{
    width:200px;
    padding-left: 40px;
    line-height:30px;
    position: relative;
    right:40px;
  }
  
  .dr_cg_ul span{
    padding-right:50px;
    float:right;
  }
  
  .dr_cg_a{
    color:black;
  }
  
  .dr_cg_ul li:hover{
    background-color: rgba(230,230,230,1);
    transition: 0.5s;
  }
  
  .menu_second_level{
    display:none;
    background-color: black;
    width:200px;
    height:120px; 
    position: absolute;
    left:230px;
    top:-60px;
  }
  
  .th_second_level{
    display:none;
    background-color: white;
    color:black;
    max-width:200px;
    padding:7px 0px 7px 50px;
    position: absolute;
    left:230px;
    top:-60px;
  }
  
  .kt_second_level{
    display:none;
    background-color: white;
    color:black;
    max-width:200px;
    padding:7px 0px 7px 50px;
    position: absolute;
    left:230px;
    top:-60px;
  }
  
  .tb_second_level{
    display:none;
    background-color: white;
    color:black;
    max-width:200px;
    padding:7px 0px 7px 50px;
    position: absolute;
    left:230px;
    top:-60px;
  }
  
  .kk_second_level{
    display:none;
    background-color: white;
    color:black;
    max-width:200px;
    padding:7px 0px 7px 50px;
    position: absolute;
    left:230px;
    top:-60px;
  }
  
  .tg_second_level{
    display:none;
    background-color: white;
    color:black;
    max-width:200px;
    padding:7px 0px 7px 50px;
    position: absolute;
    left:230px;
    top:-60px;
  }
  .sk_second_level{
    display:none;
    background-color: white;
    color:black;
    max-width:200px;
    padding:7px 0px 7px 50px;
    position: absolute;
    left:230px;
    top:-60px;
  }
  
  .ks_second_level{
    display:none;
    background-color: white;
    color:black;
    max-width:200px;
    padding:7px 0px 7px 50px;
    position: absolute;
    left:230px;
    top:-60px;
  }
  
  .te{
    color: black;
  }
  
  .text-active{
    display:block;
  }

  /*detail_research.php---------------------------------------------------------------------------------*/
  .ld-main{
      padding: 50px;
  }

  .ld-content{

      background-color: rgba(225, 225, 226, 0.3);
      width:600px;
      padding: 20px 20px 20px 30px;
      margin-bottom: 50px;
      float: left;
  }

  .ld-part{
      padding-bottom: 10px;
      margin-bottom:15px ;
      border-bottom: 1px solid grey;
  }

.ld-p1,.ld-p2{
    font-size: 17px;
    font-weight: 900;
}



.ld-p3{
    width:320px;
}

.ld-p4{
    margin-top: 5px;
    height:20px;
    width:240px;
    border-color: rgba(225, 225, 226, 0.3);
    border-radius: 10px;
}

.ld-p5{
    padding: auto;
    width:50px;
    background-color: white;
    border-color:rgba(225, 225, 226, 0.3);
    cursor: pointer;
}

.out{
    float: right;
    height:80px;
    width:570px;
    position: relative;
    right:0px;
}

.out-content{
    position: relative;
    top:15px;
    left:px;
}

.out-1{
    border: 1px black solid;

    padding: 7px 0px;
    width:100px;
    font-size: 15px;
    font-weight: 900;
    background-color: rgba(180, 26, 26,1);
    border-radius: 10px;
    border-color: white;
    color: white;
    text-align: center;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.out-1:hover{
    background-color: rgba(180, 26, 26,0.7);
    transition: 0.5s;
}

.delete-1{
    border: 1px black solid;
 
    padding: 7px 0px;
    width:100px;
    font-size: 15px;
    font-weight: 900;
    color: white;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    text-align: center;
    float: left;
    cursor: pointer;
}

.delete-1:hover{
    background-color: rgba(0, 0, 0,0.7);
    transition: 0.5s;
}

.ld-content-right{
    float: right;
    padding: 20px 30px 20px 40px;
    background-color: rgba(225, 225, 226, 0.3);
    width:500px;
}